<h3>Login</h3><br/>
<form method="post" action="" style="width: 400px; margin: 0 auto;">
    <div class="form-group">
        <?php if(isset($data['error'])){  ?>
        <div class="warning"><?=$data['error']['error']; }?>

        </div>
        <label for="login">login: </label>
        <input type="text" id="login" name="login" class="form-control"><br/>
    </div>
    <div class="form-group">
    <label for="password">password: </label>
    <input type="password" id="password" name="password" class="form-control"><br/>
    </div>
    <input type="submit" name="Enter!" class="btn btn-success"><br/>
</form>