<style>
    #contact_form{
        width: 500px;
        height: auto;
    }
    #contact_form textarea{
        height: 150px;
    }
</style>

<h3 style="margin: 0 0 20px 350px;">Contact us:</h3>
<form style="margin: 60px auto;" id="contact_form" action="" method="post" style="padding: 0  auto; margin: 0 auto;">
    <input type="text" class="form-control" name="name" placeholder="Wow!!!"/><br/>
    <input type="text" class="form-control" name="email" placeholder="FantasticWorld@In.Your.Ayes"/><br/>
    <textarea  name="message" class="form-control" placeholder="Эта страница не имеет отношения к ТЗ. Однако она дополняет ту часть сайта, которая видна пользователям не имеющим  доступ к админке. Ее можно подключить при необходимости. В классе 'User' есть все нужные для этого методы."></textarea><br/>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Send</button>
</form>