<style>
    .page{
        align-items: center;
        margin: 5px 0 0 300px;
        padding:5px auto;
    }
    .btn-success{
        width: 400px;
        height: 50px;
        margin: 5px auto;
        padding:5px auto;

    }

</style>
<div class="page">
<h3>Pages:</h3>
<a href="/admin/pages/add/"><button class="btn btn-sm btn-success">New Articles</button></a>
    <table class="rable table-striped" style="width: 400px">
    <?php foreach($data['pages'] as $page_data){ ?>
        <tr>
            <td>
               <b><?=$page_data['title'] ?></b>
            </td>
            <td align="right">
                <a href="/admin/pages/edit/<?=$page_data['id']; ?>"><button style="margin: 5px; padding: 5px;" class="btn btn-sm btn-primary">edit</button></a>
                <a href="/admin/pages/delete/<?=$page_data['id']; ?>"><button id="warning" onclick="confirmDelete()" style="margin: 5px; padding: 5px;" class=" warning btn btn-sm btn-warning">delete</button></a>
            </td>
        </tr>
        <?php } ?>
    </table>
</div>
</body>
</html>